<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta charset="utf-8">
      <!-- utf-8 works for most cases -->
      <meta name="viewport" content="width=device-width">
      <!-- Forcing initial-scale shouldn't be necessary -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Use the latest (edge) version of IE rendering engine -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title></title>
   </head>
   <body width="600%" > 
      <!-- Hero Image, Flush : END -->
      <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" width="600" class="email-container">
         <!-- Hero Image, Flush : BEGIN -->
         <tr id="enrdes">
            <td>
               <a href="https://www.bduedu.in/degree-education-online-distance-learning-courses-pb"  target="_blank">
                  <img src="https://bduedu.in/assets/img/emailer/emailer-1/emailer-1.jpg"  height="" alt="alt_text" border="0" align="center" >
               </a>
            </td>
         </tr>
      </table>
      <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" width="600" class="email-container">
         <!-- Hero Image, Flush : BEGIN -->
         <tr id="enrdes">
            <td>
               <a href="https://www.bduedu.in/degree-education-online-distance-learning-courses-pb"  target="_blank">
                  <img src="https://bduedu.in/assets/img/emailer/emailer-1/emailer-2.jpg"  height="" alt="alt_text" border="0" align="center" >
               </a>
            </td>
         </tr>
      </table>
      <table cellspacing="0" cellpadding="0" border="0" align="center" bgcolor="#ffffff" width="600" class="email-container">
         <!-- Hero Image, Flush : BEGIN -->
         <tr id="enrdes">
            <td>
               <a href="https://www.bduedu.in/degree-education-online-distance-learning-courses-pb"  target="_blank">
                 <img src="https://bduedu.in/assets/img/emailer/emailer-1/emailer-3.jpg"  height="" alt="alt_text" border="0" align="center" >
               </a>
            </td>
         </tr>
      </table> 
   </body>
</html>